{% extends 'base.html'%}
{% block content %}

{% load humanize %}
<div class="container">
<br>
<h1>Today's earning release companys</h1>
</br>
<h2>Before Market Open</h2>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Market Cap</th>
      <th scope="col">YTD Change</th>
      <th scope="col">52Wk High</th>
      <th scope="col">52Wk Low</th>
      <th scope="col">Report Date</th>
    </tr>
  </thead>
  <tbody>
      			{% for list_item in bto %}
      				<tr>
    					<th scope="row">{{ list_item.quote.companyName }}</th>
    					<td>${{ list_item.quote.latestPrice }}</td>
    					<td>${{ list_item.quote.previousClose }}</td>
    					<td>${{ list_item.quote.marketCap }}</td>
    					<td>{{ list_item.quote.ytdChange }}</td>
    					<td>${{ list_item.quote.week52High }}</td>
    					<td>${{ list_item.quote.week52Low }}</td>
              <td>{{ list_item.reportDate }}</td>
    				</tr>
    			{% endfor %}
  </tbody>
</table>
</br>
<h2>During Trading Day</h2>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Market Cap</th>
      <th scope="col">YTD Change</th>
      <th scope="col">52Wk High</th>
      <th scope="col">52Wk Low</th>
      <th scope="col">Report Date</th>
    </tr>
  </thead>
  <tbody>
      			{% for list_item in dmt %}
      				<tr>
    					<th scope="row">{{ list_item.quote.companyName }}</th>
    					<td>${{ list_item.quote.latestPrice }}</td>
    					<td>${{ list_item.quote.previousClose }}</td>
    					<td>${{ list_item.quote.marketCap }}</td>
    					<td>{{ list_item.quote.ytdChange }}</td>
    					<td>${{ list_item.quote.week52High }}</td>
    					<td>${{ list_item.quote.week52Low }}</td>
              <td>{{ list_item.reportDate }}</td>
    				</tr>
    			{% endfor %}
  </tbody>
</table>
</br>
<h2>After Market Close</h2>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Market Cap</th>
      <th scope="col">YTD Change</th>
      <th scope="col">52Wk High</th>
      <th scope="col">52Wk Low</th>
      <th scope="col">Report Date</th>
    </tr>
  </thead>
  <tbody>
      			{% for list_item in amc %}
      				<tr>
    					<th scope="row">{{ list_item.quote.companyName }}</th>
    					<td>${{ list_item.quote.latestPrice }}</td>
    					<td>${{ list_item.quote.previousClose }}</td>
    					<td>${{ list_item.quote.marketCap }} </td>
    					<td>{{ list_item.quote.ytdChange }}</td>
    					<td>${{ list_item.quote.week52High }}</td>
    					<td>${{ list_item.quote.week52Low }}</td>
              <td>{{ list_item.reportDate }}</td>
    				</tr>
    			{% endfor %}
  </tbody>
</table>

</div>
{% endblock %}
