{% extends 'base.html'%}
{% block content %}
<main role="main">
{% load staticfiles %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">StockList!</h1>
      <p class="txt">It's your time to setup your stocklist, easy to watch them when you free. You would never need to google them one by one!</p>
      <p><a class="btn btn-primary btn-lg" href="{%url 'about'%}" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

    <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Create you own stocklist. <span class="text-muted">Watch them together everyday.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <defs>
             <pattern id="imgpattern2" x="0" y="0" width="1" height="1">
              <image width="100%" height="100%"
               xlink:href="{% static 'a6bd4fc3c82297a85fc2db69ae7866c9.jpg' %}"/>
             </pattern>
          </defs><rect width="100%" height="100%" fill="url(#imgpattern2)"></rect></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Pay attention! <span class="text-muted">Gainer and Loser.</span></h2>
      </br>
      <div style="color:green;">
        <h3>Gainer</h3>

        <p class="lead">{{ Gainer_response.0.companyName }} Latest Price: ${{ Gainer_response.0.latestPrice }} &#8593;{{ Gainer_response.0.changePercent }}</p>
        <p class="lead">{{ Gainer_response.1.companyName }} Latest Price: ${{ Gainer_response.1.latestPrice }} &#8593;{{ Gainer_response.1.changePercent }}</p>
        <p class="lead">{{ Gainer_response.2.companyName }} Latest Price: ${{ Gainer_response.2.latestPrice }} &#8593;{{ Gainer_response.2.changePercent }}</p>
        {% if Gainer_response.3 %}
        <p class="lead">{{ Gainer_response.3.companyName }} Latest Price: ${{ Gainer_response.3.latestPrice }} &#8593;{{ Gainer_response.3.changePercent }}</p>
        {% endif %}
      </div>
      </br>
      <div style="color:red;">
        <h3>Loser</h3>
        <p class="lead">{{ Loser_response.0.companyName }} Latest Price: ${{ Loser_response.0.latestPrice }} &#8595;{{ Loser_response.0.changePercent }}</p>
        <p class="lead">{{ Loser_response.1.companyName }} Latest Price: ${{ Loser_response.1.latestPrice }} &#8595;{{ Loser_response.1.changePercent }}</p>
        <p class="lead">{{ Loser_response.2.companyName }} Latest Price: ${{ Loser_response.2.latestPrice }} &#8595;{{ Loser_response.2.changePercent }}</p>
        {% if Loser_response.3 %}
        <p class="lead">{{ Loser_response.3.companyName }} Latest Price: ${{ Loser_response.3.latestPrice }} &#8593;{{ Loser_response.3.changePercent }}</p>
        {% endif %}
      </div>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <defs>
             <pattern id="imgpattern1" x="0" y="0" width="1" height="1">
              <image width="100%" height="100%"
               xlink:href="{% static '8-highly-effeective.png' %}"/>
             </pattern>
          </defs>
          <rect width="100%" height="100%" fill="url(#imgpattern1)"></rect></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Check lastest market news. <span class="text-muted">From google.</span></h2>
        <p class="lead">Get the lastest news, it will help you to create your list. Focus on good potential stocks in your list would be nice!</p>
      </div>
      <div class="col-md-5">
        <a href="https://www.google.com/finance#scso=_B2CTXeisMoWwtQXHo4WIAQ2:0"><svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <defs>
             <pattern id="imgpattern" x="0" y="0" width="1" height="1">
              <image width="100%" height="100%"
               xlink:href="{% static 'finance_g_badged.svg' %}"/>
             </pattern>
          </defs>
          <rect width="100%" height="100%" fill="url(#imgpattern)"></rect></svg></a>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</main>
{% endblock %}
